/**
* : => désigne un "pseudo élement"
**/
:root {
    --title-color: rgb(200, 89, 10);
    --main-color: #000;
    --main-font-size: 2em;

    /**
    *   Couleurs Bootstrap
    **/
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #17a2b4;
    --dark: #343a40;
    --light: #ffffff;
}

/*
* Global styles
*   CSS Rule : selector { property: property_value; }
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--main-font-size); /* em correspond à l'unité de référence définie dans le navigateur : 16px */
    color: var(--main-color);
}

/**
* Sur toutes les listes des documents HTML on supprime les puces
**/
ul {
    list-style-type: none;
}

nav {
    color: var(--light);
}

nav ul.flex-container {
    display: flex;
    flex-direction: row;
}

nav ul li {
    
}
/**
* On veut définir la couleur #000 et enlever le soulignement
*   sur tous les liens qui sont dans un LI, lui même dans un UL, lui même dans un NAV
*   Le caractère "espace" désigne les "enfants de"
**/
nav ul li a {
    transform: rotate(0deg);
    text-decoration: none;
    color: inherit;
    
}

/**
* Etat initial d'un élément
**/
nav ul li a.btn {
    transition: color 0.6s 0s ease-in, transform 0.4s 0.4s linear, background-color 0.8s 0.7s ease-out; /** Définit comment passer à l'état final **/
}

/**
    nav {
        &.bg-dark {
            background-color: blah blah blah;
        }
        ul {
            list-style-type: none;
            li {
                a {
                    &.btn { // nav ul li a.btn => 
                        // Properties goes here
                    }
                }
            }
        }
    }
**/
nav ul li a.btn:hover { /** Etat final c'est ici **/
    color: var(--dark);
    background-color: var(--light);
    transform: rotate(360deg);
}

abbr {
    text-decoration: none;
    font-weight: bold;
}
/**
* Le caractère "," permet de factoriser une règle (associer la règle à plusieurs sélecteurs)
*   h1 ET h2 seront orange
**/
h1,h2,h3,h4,h5,h6 {
    color: var(--title-color);
}

/**
* Sélecteurs "class"
**/
.dropdown {
    color: var(--info);
}

.btn {
    display: inline-block; /** Affiche un élément sous la forme d'un bloc en ligne **/
    border: solid 1px var(--secondary);
    width: 8em;
    /*padding-left: 0.5em; 
    padding-right: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;*/
    padding: 1em 0.5em 1em 0.5em;
}

.bg-light {
    background-color: var(--light);
    color: var(--dark);
}

.bg-dark {
    background-color: var(--dark);
    color: var(--light);
}

.shadowed {
    box-shadow: var(--secondary) 1px 3px;
}

/**
* Sélecteur sur un ID d'élément : #nom_id
**/
section {
    height: 100vh;
}

section#section-html {
    background-color: var(--info);
}

section#section-css {
    background-color: var(--warning);
}

/**
* Specific design for specific pages
**/
#page-html section#section-html {
    background-color: rgb(255, 255, 255);
}

#page-html section#section-html h2 {
    color: var(--info);
}

/**
* Specific design for footer that have a bg-dark class
**/
footer.bg-dark, footer.bg-light {
    color: inherit;
}

footer.bg-dark ul, footer.bg-light ul {
    margin: 0;
    padding: 0;
}
footer.bg-dark h3, footer.bg-light h3 {
    color: var(--light);
}

footer.bg-dark a, footer.bg-light a {
    color: inherit;
    text-decoration: none;
}